<html>
<head>
    <title>Cursos</title>
</head>
<body>
<form action="curso" method="POST">
    <table>
        <tbody>
        <tr>
            <td>ID</td>
            <td><input type="hidden" name="id" value="{{curso.curso_id}}" />{{curso.curso_id}}</td>
        </tr>
        <tr>
            <td>Codigo</td>
            <td><input type="text" name="codigo" value="{{curso.codigo}}" /></td>
        </tr>
        <tr>
            <td>Creditaje</td>
            <td><input type="text" name="creditos" value="{{curso.credito}}" /></td>
        </tr>
        <tr>
            <td>Curso</td>
            <td><input type="text" name="nombre" value="{{curso.nombre}}" /></td>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" onclick="history.back();" />
</form>
</body>
</html>