<html>
<head>
    <title>Alumno</title>
</head>
<body>
<table class=>
    <thead>
    </thead>

    <tbody>
    <tr>
        <th>ID</th>
        <td>{{ alumno.alumno_id }}</td>
    </tr>
    <tr>
        <th>Nombres</th>
        <td>{{ alumno.nombres }}</td>
    </tr>
    <tr>
        <th>Apellido Paterno</th>
        <td>{{ alumno.apellidoPaterno }}</td>
    </tr>
    <tr>
        <th>Apellido Materno</th>
        <td>{{ alumno.apellidoMaterno }}</td>
    </tr>
    </tbody>
</table>
<br />
<a href="add-alumno?alumno_id={{alumno.alumno_id}}">Modify</a> |<a href="add-alumno">Add New Alumno</a> | <a href="alumno">List All</a>
</body>
</html>