<html>
<head>
    <title>Alumnado</title>
</head>
<body>
<table class=>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
    </tr>
    </thead>

    <tbody>
    {% for curso in cursos %}
    <tr>
        <td>{{ alumno.alumno_id }}</td>
        <td>{{ alumno.nombres }}</td>
        <td>{{ alumno.apellidoPaterno }}</td>
        <td>{{ alumno.apellidoMaterno }}</td>
        <td><a href="?alumno_id={{ alumno.alumno_id }}">See</a> | <a href="add-alumno?alumno_id={{alumno.alumno_id }}">Modify</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="add-alumno">Add New Alumno</a>
</body>
</html>