<html>
<head>
    <title>Cursos</title>
</head>
<body>
<table class=>
    <thead>
    </thead>

    <tbody>
    <tr>
        <th>ID</th>
        <td>{{ curso.curso_id }}</td>
    </tr>
    <tr>
        <th>Codigo</th>
        <td>{{ curso.codigo }}</td>
    </tr>
    <tr>
        <th>Creditaje</th>
        <td>{{ curso.credito }}</td>
    </tr>
    <tr>
        <th>Curso</th>
        <td>{{ curso.nombre }}</td>
    </tr>
    </tbody>
</table>
<br />
<a href="add-curso?id={{curso.curso_id}}">Modify</a> |<a href="add-curso">Add New Curso</a> | <a href="curso">List All</a>
</body>
</html>