<html>
<head>
    <title>Cursos</title>
</head>
<body>
<table class=>
    <thead>
    <tr>
        <th>ID</th>
        <th>Codigo</th>
        <th>Creditaje</th>
        <th>Curso</th>
    </tr>
    </thead>

    <tbody>
    {% for curso in cursos %}
    <tr>
        <td>{{ curso.curso_id }}</td>
        <td>{{ curso.codigo }}</td>
        <td>{{ curso.credito }}</td>
        <td>{{ curso.nombre }}</td>
        <td><a href="?curso_id={{ curso.curso_id }}">See</a> | <a href="add-curso?curso_id={{curso.curso_id }}">Modify</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="add-curso">Add New Curso</a>
</body>
</html>